%h1 Statistics

%table
  %tr
    %td
      = @users
    %td
      usuarios

  %tr
    %td
      = @books
    %td
      libros

  %tr
    %td
      = @watchings
    %td
      libros en listas de interés.
  
  %tr
    %td
      = @current_loans
    %td
      prestamos en activo.

  %tr
    %td
      = @loans
    %td
      Prestamos en total.
    