%p * = required information

%h2 About You

.field
  = form.label :first_name
  *
  %br
  = form.text_field :first_name
.field
  = form.label :last_name
  *
  %br
  = form.text_field :last_name
.field
  = form.label :address1
  *
  %br
  = form.text_field :address1
.field
  = form.label :address2
  %br
  = form.text_field :address2
.field
  = form.label :city
  *
  %br
  = form.text_field :city
.field
  = form.label :county
  %br
  = form.text_field :county
.field
  = form.label :postcode
  *
  %br
  = form.text_field :postcode
.field
  = form.label :phone
  %br
  = form.text_field :phone
.field
  = form.label :email
  *
  %br
  = form.text_field :email

%h2 Your Account

.field
  = form.label "Choose a username (only letters and numbers allowed)"
  *
  %br
  = form.text_field :login
.field
  = form.label "Choose a password", form.object.new_record? ? nil : "Change password"
  %br
  = form.password_field :password
.field
  = form.label "Retype your password"
  %br
  = form.password_field :password_confirmation
  %br
