%h1= @page_title = "Lista de interés"

.help
  Usa tu lista de interes para hacer seguimiento de los libros de otra gente en los que estás interesado. La lista es privada, ningún otro usuario puede verla.

- if @watchings.count > 0
  %table
    %tr
      %th
      %th
      %th Offered by
      %th
    - for watching in @watchings
      - book = watching.book
      %tr
        %td= link_to (image_tag book.title.image_url, :height => 80), book.title
        %td
          %span.book_list_title
            = link_to book.title.title, book.title
          %br 
          = book.title.subtitle
          %br
          %br
          = link_to book.title.authors.first.name, author_path(book.title.authors.first)
          %br
        %td
          = link_to image_tag(book.user.gravatar_image_url(60)), :controller => :members, :action => :show, :login => book.user.login
          %br
          = link_to book.user.login, :controller => :members, :action => :show, :login => book.user.login
        %td
          - if book.status == StaticData::BOOK_STATUS['AVAILABLE']
            available
          - elsif book.status == StaticData::BOOK_STATUS['ONLOAN']
            on loan
          - else
            = book.status_text  
        %td
          - if current_user && ! current_user.owns?(book) && (book.status == StaticData::BOOK_STATUS['AVAILABLE'] || book.status == StaticData::BOOK_STATUS['ONLOAN'])
            = link_to "Request Book", :controller => :messages, :action => :request_new, :book => book, :recipient => book.user.login
        %td= link_to 'Unwatch', watching_path(watching), :method => :delete


- else
  %p No hay ningún libro en la lista..