#logout
  #mascota
    <IMG SRC="/images/mascota.png" ALT="La primera biblioteca física p2p" WIDTH=300 HEIGHT=100% >
  #logoutbox
    %h1 Inicia sesión.
    -# http://techoctave.com/c7/posts/37-authlogic-and-rails-3-0-solution
    = form_for @user_session, :as => :user_session, :url => {:action => "create"} do |f|
      = f.error_messages
      %div
        = f.label :Nombre 
        de usuario 
        %br
        = f.text_field :login
      %div
        = f.label :Contraseña
        %br
        = f.password_field :password
      %div
        = f.check_box :remember_me
        = f.label :Recuérdame
      %div
        = f.submit "Log In"

      %p
        = link_to "Has olvidado tu contraseña?", :controller => :password_resets, :action => :new